main {
  margin-top: 20px;
  border: 1px solid #0dcaf0
}

.auth-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.auth-form__item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

a {
  color: #000;
  text-decoration: none;
}